<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
  font-family: 'Arial', sans-serif;
  background-color: #f48f8f;
  margin: 0;
  padding: 0;
}

/* Style the table */
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the table header */
th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

    </style>
</head>
<body>
    <table class="genreTable">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release Year</th>
            </tr>
        </thead>
        <tbody>
            <% movies.forEach((movie) => { %>
                <tr>
                    <td><%= movie.title %></td>
                    <td><%= movie.year %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body> 
</html>