<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: burlywood;
            text-align: center;
        }
        ol{
            margin: 1em;
            font-size: medium;
        }
        .historyList{
            align-content: center;
        }
        h1{
            font-size: x-large;
            color: maroon;
        }
    </style>
</head>
<body>
    <h1>Historic Movies</h1>

        <ul class="historyList">
            <% movies.forEach((movie) => { %>
                <li>
                    <%= movie.title  %> (Released: <%= movie.year %>) (IMDB: <%= movie.imdb.rating %>)
                </li>
            <% }) %>
        </ul>
     
</body>
</html>