<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Historic Movies</h1>

        <ul class="historyList">
            <% movies.forEach((movie) => { %>
                <li>
                    <%= movie.title  %> (Released: <%= movie.year %>) (IMDB: <%= movie.imdb.rating %>)
                </li>
            <% }) %>
        </ul>
     
</body>
</html>