<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        body{
            background-color: burlywood;
        }
        ol{
            padding: 1em;
            font-size: medium;
            color: red;
        }
    </style>
</head>

<body>
    <ol class="moviesList">
        <% movies.forEach(movie=>{ %>
                    <div class="movie-container">
                        <div class="movie-title"> <%= movie.title %> </div>
                    </div>
            <% }) %>
    </ol>
</body>
</html>