body{
    background-color: burlywood;
}
ol{
    padding: 1em;
    font-size: medium;
    color: red;
}
.btnContainer{
    color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
 #btn{
    background-color: aqua;
    flex: auto;
}

  